
<!DOCTYPE html>
<html class="is-large is-secondary is-dark">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% include 'html/include.html' %} 
        <script src="{{ url_for('static', filename='js/register.js') }}"></script>
        <title>Register</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    </head>
    <body>
        {% include 'html/navbar.html' %}
        
        <div class="ts-center slideUp">
            <div class="ts-header is-large is-heavy is-icon">
                <div class="ts-icon is-address-book-icon is-heading"></div>
            </div>
            <div class="ts-segment has-top-spaced-large" style="width: 500px">
                <div class="ts-wrap is-vertical">
                    <div class="ts-text is-label">Username</div>
                    <div class="ts-input is-start-icon is-underlined">
                        <span class="ts-icon is-user-icon"></span>
                        <input type="text" id="username">
                    </div>
                    <div class="ts-text is-label">Email</div>
                    <div class="ts-input is-start-icon is-underlined">
                        <span class="ts-icon is-envelope-icon"></span>
                        <input type="text" id="email">
                    </div>
                    <div class="ts-text is-label">Password</div>
                    <div class="ts-input is-start-icon is-underlined">
                        <span class="ts-icon is-lock-icon"></span>
                        <input type="password" id="password">
                    </div>
                    <button class="ts-button is-fluid" onclick="register()">Register</button>
                    
                </div>
            </div>
            <span class="ts-text is-tiny is-center-aligned hidden" id="response_message" >hello</span>
        </div>
        <p class="title-main slideU" id = "title">please login first</p>
    </body>
</html>