
<!DOCTYPE html>
<html class="is-large is-secondary is-dark"><head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% include 'html/include.html' %} 
        <title>Scoreboard</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    </head>
    <body>
        {% include 'html/navbar.html' %}
        <div class="ts-container">
            <div class="ts-box has-top-spaced-large bounceIn">
                <table class=" ts-table is-striped is-relaxed">
                    <thead>
                        <tr>
                            <th>Rank #</th>
                            <th>username</th>
                            <th>point</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in ranklist %}
                        
                        <tr>
                            <td>{{ user['rank'] }}</td>
                            <td><a href = "{{ url_for('view_user', user_id=user['id']) }}" style="text-decoration: none">{{ user['username'] }}</a></td>
                            <td>{{ user['point'] }}</td>
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>